@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.left{
    width: 50%;
    background-color: #f5d8b5;
    padding: 20px;
    border-radius: 30px;
    height: 425px;
}
.right {
    width: 35%;
    background-color: #f5d8b5;
    padding: 20px;
    border-radius: 25px;
    height: 425px;
}


.right .right-text h3 {
    font-size: 36px;
    /* padding: 15px 25px 15px 25px; */
    background-color: #ff8d02;
    color: #000;
    border: none;
    font-size: larger;
    text-align: left;
    margin-left: -20px;
    padding-left:65px;
    margin-right: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.left h1, .bottom-content {
    padding-left: 20px;
}

.button-group {
    display: grid;
    justify-content: center;
}

.button-group button {
    margin: 10px 0;
    padding: 15px 125px 15px 125px;
    background-color: #ff8d02;
    color: #000;
    border: none;
    font-size: larger;
    border-radius: 15px;
    cursor: pointer;
}