@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #ff8d02;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-logo {
    margin-left: auto;
}

.logo h1 {
    margin: 0;
    font-size: 36px;
    color: white;
    margin-left: 20px;
}

.logo p {
    margin: 5px 0;
    margin-top: -25px;
    font-size: 18px;
    /* margin-left: 20px; */
    color: white;
    width: auto;
}

header img {
    margin-top: 10px;
}

.navbar {
    background: #ff8d02;
    margin-bottom: 30px;
    margin-top: -30px;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: #f5d8b5;
    padding-right: 50px;
}

.navbar ul li {
    margin-left: 150px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: #eebf85;
    padding: 50px;
    width:65%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 50px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%);
    border: solid rgba(0, 0, 0, 0.1);
}

h2 {
    background: #ff8d02;
    margin-top: -50px;
    margin-left: -50px;
    width: 30%;
    border-bottom-right-radius: 20px;
    padding: 10px 10px 10px 50px;
}

.subtitle {
    display: inline-flex;
    margin: 20px 0px 0px 0px;
}

.first,
.second,
.third {
    height: 100px; 
    width: 25px;
    margin: 0 15px;
}

.first {
    background-color: #f5d8b5;
}

.second {
    background-color: #ff8d02;
}

.third {
    background-color: #f5d8b5;
}

p {
    font-size: 20px;
    background: #ff8d02;
    margin-top: -2px;
    width: 85%;
    padding: 10px 0px 40px 20px;
    border-top-right-radius: 40px;
}

form {
    width: 50%;
    margin: 0 auto;
}

input {
    border: solid #333;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

button {
    margin-left: 40%;
    background-color: #ff8d02;
    padding: 15px 30px;
    border-radius: 12px;
    margin-top: 40px;
}

label {
    font-weight: bold;
}