@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');



.form-container {
    background-color: #f5d8b5;
    padding: 45px 300px 45px 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 30px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%);
    border: solid rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    background: #ff8d02;
    width: 30%;
    margin-top: -50px;
    margin-left: -300px;
    border-bottom-right-radius: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.danger{
    background-color: #efb2b2;
    padding: 5px;
    border-radius: 5px;
    border:  2px solid red;
    margin: 0px 40px 20px  40px;
    text-align: start;
}

.danger p{
    text-align: center;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
}
.container {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
}

.whole#blurr.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    /* padding: 20px; */
    background-color:#f5d8b5;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s ease; /* Use transition here */
}
#popup.active {
    top: 55%;
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease; /* Use transition here */
}
#popup .cbutton{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 10px 100px;
    background-color: #ff8d02;
    border-radius: 20px;
    font-family: 'Inknut Antiqua', serif;
    /* margin-left: -105px; */
    /* margin-top: 20px; */
    border: none;
}

#popup h3{
    margin: 0;
    padding: 0;
    background-color: #ff8d02;
    margin: 0px 40px 40px  40px;
    border-radius: 0px 0px 10px 10px;
    color: #fff;

}
a{
    text-decoration: none;
    color: black;
}

.first{
    background-color: #f5d8b5;
    height:auto ;
    width: 35px; 
    margin-left: 30px;  
    margin-right: 30px;
}
.second{
    background-color: #ff8d02;
    height:auto ;
    width: 35px; 
    margin-right: 30px;
}

.third{
    background-color: #f5d8b5;
    height:auto ;
    width: 35px; 
    margin-right: 30px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

::placeholder{
    padding-left: 10px;
}

form{
    margin-top: 50px; 
    margin-left: 0;    
}

form p{
    font-weight: bold;
    font-size: small;
    margin-top: 20px;
    margin-left: 20px;
}

.show{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px 0px 0px 25px;
}

.show input[type="checkbox"]{
    margin-right: 15px;
}

.container .form-container input[type="password"],.container .form-container input[type="text"] {
    width: 69%;
    height: 25px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-container input:focus{
    border: #ff8d02;
}

.form-container .sbutton {
    /* margin-top: 15px; */
    margin-left: -70px;
    padding: 15px 215px 15px 215px;
    background-color: #ff8d02;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: larger;
    transition: 0.3s ease;
}
 button{
    transform: scale(1.05);
}


