@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #ff8d02;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.login-logo {
    margin-left: auto;
}

.logo h1 {
    margin: 0;
    font-size: 36px;
    color: white;
    margin-left: 20px;
}

.logo p {
    margin: 5px 0;
    margin-top: -15px;
    font-size: 18px;
    margin-left: 20px;
    color: white;
}

header img {
    margin-top: 10px;
}

.navbar {
    background: #ff8d02;
    margin-bottom: 30px;
    margin-top: -30px;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: #f5d8b5;
    padding-right: 50px;
}

.navbar ul li {
    margin-left: 150px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
