@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}


.main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.left, .right {
    width: 40%;
    background-color: #f5d8b5;
    padding: 20px;
    border-radius: 30px;
}

.left h1, .right h1 {
    font-size: 28px;
}

.left-content {
    margin-top: -28px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.left-content, .right-content {
    width: 40%;
}

.right-content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.right-content {
    background: #ff8d02;
    border-radius: 30px;
    /* margin-top: -60px; */
    height: 200px;
}

.right-text {
    padding: 20px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.left h1, .bottom-content {
    padding-left: 20px;
}

.button-group {
    display: grid;
    justify-content: center;
    margin: 0 100px;
}

.button-group button {
    margin: 10px 0;
    padding: 20px 125px;
    background-color: #ff8d02;
    color: #000;
    border: none;
    font-size: larger;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    transition: transform 0.3s ease;
}

.button-group button:hover {
  transform: scale(1.05);
}